.page404 {
  &__container {
    padding: 100px;
    text-align: center;
    font-size: 1rem;
    min-height: calc(100vh - 150px);
  }

  &__link {
    color: blue;
    text-decoration: underline;
  }
}
