.header {
  background: rgb(9, 9, 9, 0.3);
  position: fixed;
  // top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.header__container {
  // padding: 5px 20px;
  // height: 80px;
  // display: flex;
  // align-items: center;
  // justify-content: space-between;
}
